# Ignorar arquivos e diretórios desnecessários
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml

# Ignorar diretórios de build temporários (gerados durante a compilação)
**/bin
**/obj

# Ignorar arquivos relacionados ao Docker Compose e Dockerfile extras
**/charts
**/docker-compose*
LICENSE

# Incluir explicitamente os arquivos necessários para o build do Docker
!Seguranca.API/Seguranca.API.csproj
!Seguranca.Aplicacao/Seguranca.Aplicacao.csproj
!Seguranca.DataTransfer/Seguranca.DataTransfer.csproj
!Seguranca.Dominio/Seguranca.Dominio.csproj
!Seguranca.Infra/Seguranca.Infra.csproj

# Incluir README.md explicitamente (se necessário)
!README.md
